<div id="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2>Bank Payment Batches <small>{{ entry.ref_no }}</small> <a class="btn btn-primary pull-right" href="" ng-click="showGrid();" ng-if="selectedBatch">List Payment Batches</a></h2>
                </div>
            </div>
        </div>

        <div class="row" ng-if="!selectedBatch">
            <div class="col=md-12">
                <kendo-grid options="mainGridOptions" id="grid"></kendo-grid>
            </div>
        </div>

        <div class="row" ng-if="selectedBatch">
            <div class="col-md-6">
                <h4>Batch Details</h4>
                <table class="table table-striped">
                    <tr>
                        <td><strong>Reference Number:</strong></td>
                        <td>{{ batch.ref_no }}</td>
                    </tr>
                    <tr>
                        <td><strong>Date Created:</strong></td>
                        <td>{{ batch.date_created | date: appVariables.ngDatetimeFormat }}</td>
                    </tr>
                    <tr>
                        <td><strong>Date Submitted:</strong></td>
                        <td>{{ batch.date_submitted | date: appVariables.ngDatetimeFormat }}</td>
                    </tr>
                    <tr>
                        <td><strong>Bank Line Type:</strong></td>
                        <td>{{ batch.bank_line_type }}</td>
                    </tr>
                    <tr>
                        <td><strong>Total Amount:</strong></td>
                        <td>{{ batch.total_amount }}</td>
                    </tr>
                    <tr>
                        <td><strong>State:</strong></td>
                        <td>{{ batch.state }}</td>
                    </tr>
                    <tr>
                        <td><strong>Error Message:</strong></td>
                        <td>{{ batch.error_message || 'None' }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h4>Bank Account</h4>
                <table class="table table-striped">
                    <tr>
                        <td><strong>Bank Name:</strong></td>
                        <td>{{ batch.bank_account.bank }}</td>
                    </tr>
                    <tr>
                        <td><strong>Account Number:</strong></td>
                        <td>{{ batch.bank_account.acc_no }}</td>
                    </tr>
                    <tr>
                        <td><strong>Branch Code:</strong></td>
                        <td>{{ batch.bank_account.branch }}</td>
                    </tr>
                    <tr>
                        <td><strong>Journal:</strong></td>
                        <td>{{ batch.bank_account.journal }}</td>
                    </tr>
                    <tr>
                        <td><strong>Internal Account:</strong></td>
                        <td><a href="" ng-click="goToAccount(batch.bank_account.account.acc_no)">{{ batch.bank_account.account.acc_no }} - {{ batch.bank_account.account.name }} ({{ batch.bank_account.account.available_balance }})</a></td>
                    </tr>
                    <tr>
                        <td><strong>Currency:</strong></td>
                        <td>{{ batch.bank_account.currency.code }} ({{ batch.bank_account.currency.name }}) {{ batch.bank_account.currency.current_rate }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row"  ng-if="selectedBatch">
            <div class="col-md-12">
                <div class="header">
                    <h4>Payment Lines</h4>
                </div>
                <div class="content">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><strong>Bank Ref</strong></th>
                                <th><strong>Date Created</strong></th>
                                <th><strong>Bank Line Type</strong></th>
                                <th><strong>Debit Account</strong></th>
                                <th><strong>Dest Account</strong></th>
                                <th class="text-right"><strong>Amount</strong></th>
                                <th><strong>State</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="line in paymentLines">
                                <td><a href="" ng-click="goToPaymentLine(line.ref_no)" data-toggle="tooltip" title="{{ line.ref_no }}">{{ line.bank_ref }}</a></td>
                                <td>{{ line.date_created | date: appVariables.ngDatetimeFormat }}</td>
                                <td>{{ line.bank_line_type }}</td>
                                <td><a href="" ng-click="goToAccount(line.debit_account.acc_no)">{{ line.debit_account.acc_no }} - {{ line.debit_account.name }} ({{ line.debit_account.available_balance }})</a></td>
                                <td>{{ line.dest_bank_acc_name }}</td>
                                <td class="text-right">{{ line.amount }}</td>
                                <td>{{ line.state }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="row"  ng-if="selectedBatch">
            <div class="col-md-12">
                <div class="header">
                    <h4>Journal Entry Lines</h4>
                </div>
                <div class="content">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><strong>Id</strong></th>
                                <th><strong>Name</strong></th>
                                <th><strong>Date Created</strong></th>
                                <th><strong>Account</strong></th>
                                <th class="text-right"><strong>Debit</strong></th>
                                <th class="text-right"><strong>Credit</strong></th>
                                <th class="text-right"><strong>Account Balance</strong></th>
                                <th><strong>State</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="line in entryLines">
                                <td><span data-toggle="tooltip" title="Ref No: {{ line.ref_no }}">{{ line.pk }}</span></td>
                                <td>{{ line.name }}</td>
                                <td>{{ line.date_created | date: appVariables.ngDatetimeFormat }}</td>
                                <td><a href="" ng-click="goToAccount(line.account_number)">{{ line.account_name }}</a></td>
                                <td class="text-right">{{ line.debit }}</td>
                                <td class="text-right">{{ line.credit }}</td>
                                <td class="text-right">{{ line.account_balance }}</td>
                                <td>{{ line.state }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clear"></div>
        </div>

    </div>
</div>