<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav nav-sidebar">

        <!-- Dashboard -->
        <li data-ui-sref-active="active">
            <a data-ui-sref="app.dashboard"><i class="fa fa-fw fa-bar-chart-o"></i> Dashboard</a>
        </li>

        <!-- Users -->
        <li data-ui-sref-active="active">
            <a data-ui-sref="app.users"><i class="fa fa-fw fa-users"></i> Users</a>
        </li>

        <!-- Entities -->
        <li data-ui-sref-active="active">
            <a data-ui-sref="app.entities"><i class="fa fa-fw fa-building-o"></i> Entities</a>
        </li>

        <!-- Transactions -->
        <li data-ui-sref-active="active">
            <a data-ui-sref="app.transactions"><i class="fa fa-fw fa-credit-card"></i> Transactions</a>
        </li>

        <hr>

        <h4>Accounts</h4>

        <!-- All Accounts -->
        <li data-ui-sref-active="active">
            <a data-ui-sref="app.accounts"><i class="fa fa-fw fa-table"></i>  All Accounts</a>
        </li>

        <!-- Traders Accounts -->
        <li data-ui-sref-active="active">
            <a data-ui-sref="app.account_traders"><i class="fa fa-fw fa-table"></i>  Traders Accounts</a>
        </li>

        <!-- General Accounts -->
        <li data-ui-sref-active="active">
            <a data-ui-sref="app.account_general"><i class="fa fa-fw fa-table"></i> General Accounts</a>
        </li>

        <!-- Bank Accounts -->
        <li data-ui-sref-active="active">
            <a data-ui-sref="app.account_bank"><i class="fa fa-fw fa-table"></i> Bank Accounts</a>
        </li>

        <!-- Journal Entries -->
        <li data-ui-sref-active="active">
            <a data-ui-sref="app.journal_entries"><i class="fa fa-fw fa-book"></i> Journal Entries</a>
        </li>

        <hr>

        <h4>Bank</h4>

        <!-- Payment Batches -->
        <li data-ui-sref-active="active">
            <a data-ui-sref="app.payment_batches"><i class="fa fa-fw fa-money"></i> Payment Batches</a>
        </li>

        <!-- Payment Lines -->
        <li data-ui-sref-active="active">
            <a data-ui-sref="app.payment_lines"><i class="fa fa-fw fa-money"></i> Payment Lines</a>
        </li>

        <!-- Statements -->
        <li data-ui-sref-active="active">
            <a data-ui-sref="app.statements"><i class="fa fa-fw fa-file-o"></i> Statements</a>
        </li>

        <!-- Statement Lines -->
        <li data-ui-sref-active="active">
            <a data-ui-sref="app.statement_lines"><i class="fa fa-fw fa-file-o"></i> Statement Lines</a>
        </li>

        <!-- FNB PACS -->
        <li data-ui-sref-active="active">
            <a data-ui-sref="app.fnb_pacs"><i class="fa fa-fw fa-btc"></i> FNB PACS</a>
        </li>

    </ul>
</div>